{% load static %}
{% load nav_tags %}
<HTML>
<HEAD>
    <TITLE>{{ title }}</TITLE>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
                h1 a:hover {
                    text-decoration: none;
                }
                .hero-unit a:hover {
                    text-decoration: none;
                }
                body {
                    overflow: scroll;
                    background-image:url('{% static "ryan_bg_min.jpg" %}');
                    background-size: 100%;
                    background-repeat: no-repeat;
                }
        </style>
</HEAD>
<BODY>
    <div class="container-fluid" style="background-color:BCBCBC" align=right>
        <b><a href="/launch/">Widgets</a></b> | 
        {% if user.is_authenticated %}
            <a href="{% url "login_user" %}">Logout</a>
        {% else %}
            <form style="display:inline; " enctype="application/x-www-form-urlencoded" method="post" action="{% url "login_user" %}">
            {% csrf_token %}
            {{ login_form.username.label }}: {{ login_form.username }}
            {{ login_form.password.label }}: {{ login_form.password }}
            {{ message }}
            <input type="submit" value="Login">
            </form>
        {% endif %}
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
            <h1><a href="{% url "show_home" %}">Always On Vacation</a></h1>
          <div class="well sidebar-nav">
             <ul class="nav nav-list">
                {% draw_menu 'message' messages_list 'Messages' %}
                {% draw_menu 'gallery' collections_list 'Picture Galleries' %}
                {% draw_menu 'video' videos_list 'Videos' %}
            </ul>
          </div>
        </div>
        <div class="span9">
            <h3>{{ title }}</h3>
{% block content %}
{% endblock %}
        </div>
    </div>
</div>
</BODY></HTML>
