{% extends "base.html" %}
{% load static %}

{% block content %}
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'jail.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('img.lazy').jail();
        });
    </script>
        <div class="hero-unit">
            {% for file in image_list %}
                <a href="{% url show_image active_id file.id %}">
                    <img width=32% class="lazy" src="/static/{{ path }}/tn/{{ file.filename }}.{{ file.extension }}">
                </a>
            {% endfor %}
        </div>
{% endblock content %}
