{% load static %}
{% load widgets %}
<HTML>
<HEAD>
    <TITLE>Vacation Launch</TITLE>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'bootstrap3/css/bootstrap.css' %}" rel="stylesheet">
</HEAD>
<BODY>
    <div >
      <div class="col-md-6" style="background-color:BCBCBC">
        {% if user %}
          Welcome back, {{ user.username }}
        {% endif %}
      </div>
      <div class="col-md-6" style="background-color:BCBCBC" align=right>
        <b><a href="http://jenandjefflee.com/">Gallery</a></b> | 
        <b><a target="_blank" href="http://jenandjefflee.com/admin/auth/user/{{ user.id }}/#widgetpick_set-group">Configure Widgets</a></b> | 
        <a href={% url login_user %}>{% if user.is_authenticated %}Logout{% else %}Login{% endif %}</a>
      </div>
    </div>
    <div>
        {% for widget in widgets %}
            {% render_widget widget %}
        {% endfor %}
    </div>
  </div>
</BODY></HTML>
