{% load static %}
{% load widgets %}
<HTML>
<HEAD>
    <TITLE>Vacation Launch</TITLE>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="refresh" content="100" >
    <link href="{% static 'bootstrap3/css/bootstrap.css' %}" rel="stylesheet">
</HEAD>
<BODY>
    <div>
      <div class="col-md-6" style="background-color:{{ page.header_color }}; color:white; height:50px">
        {% if user %}
          Welcome back, {{ user.username }}
        {% endif %}
      </div>
      <div class="col-md-6" style="background-color:{{ page.header_color }}; color:white; height:50px" align=right>
        <b><a href="http://jenandjefflee.com/">Gallery</a></b> | 
        <b><a target="_blank" href="http://jenandjefflee.com/admin/vacation/widgetpage/{{ page.id }}">Configure Page</a></b> | 
        <select id="pager" onchange="switchPage();">
            {% for p in user.widgetpage_set.all %}
                <option value="{% url launch_page p.id %}" {% if p.id == page.id %}selected{% endif %}>{{ p.name }}</option>
            {% endfor %}
        </select> | 
        <a href={% url login_user %}>{% if user.is_authenticated %}Logout{% else %}Login{% endif %}</a>
      </div>
    </div>
    <div>
        {% for widget in widgets %}
            {% render_widget widget %}
        {% endfor %}
    </div>
  </div>
  <script type="text/javascript">
    function switchPage() {
        var url = document.getElementById("pager").value;
        window.location.href = url;
    }
  </script>
</BODY></HTML>
