{% load static %}
{% load widgets %}
{% load url from future %}
<HTML>
<HEAD>
    <TITLE>Vacation Launch</TITLE>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{% static 'bootstrap3/css/bootstrap.css' %}" rel="stylesheet">
</HEAD>
<BODY>
    <div>
      <div class="col-md-6" style="background-color:{{ page.header_color }}; color:white; height:50px">
        {% if user %}
          Welcome back, {{ user.username }}
        <br>
        {% endif %}
        Back to <a href="/">jaywhiletwo.com</a>
      </div>
      <div class="col-md-6" style="background-color:{{ page.header_color }}; color:white; height:50px" align=right>
        <b><a href="{% url "kat" %}">KAT (beta)</a></b> | 
        <b><a href="{% url "show_home" %}">Gallery</a></b> | 
        <b><a target="_blank" href="/admin/vacation/widget/?pages__id__exact={{ page.id }}">Arrange Page</a></b> | 
        <select id="pager" onchange="switchPage();">
            {% for p in user.widgetpage_set.all %}
                <option value="{% url "launch_page" p.id %}" {% if p.id == page.id %}selected{% endif %}>{{ p.name }}</option>
            {% endfor %}
        </select> | 
        <a href={% url "login_user" %}>{% if user.is_authenticated %}Logout{% else %}Login{% endif %}</a>
      </div>
    </div>
    <div>
        {% for widget in widgets %}
            {% render_widget widget csrf=csrf_token user=user %}
        {% empty %}
            No widgets.
        {% endfor %}
    </div>
  </div>
  <script type="text/javascript">
    setInterval(reload, 90*1000);
    var freezeRefresh = false;

    function inputBlur() {
        freezeRefresh = false;
    }

    function inputFocus() {
        freezeRefresh = true;
    }

    function reload(){
        if(!freezeRefresh){
            location.reload(true);
        }
    }

    function switchPage() {
        var url = document.getElementById("pager").value;
        window.location.href = url;
    }
  </script>
</BODY></HTML>
