{% extends "widget.html" %}

{% block widget_body %}
  <ul class="list-unstyled">
  {% for link in links %}
    <li><i id="bullet_{{ id }}_{{ forloop.counter }}" class="glyphicon glyphicon-chevron-right" style="font-size: 9px; padding-bottom: 5px; " onclick="showLinkDiv{{ id }}({{ forloop.counter }});"></i> 
        <a target="_blank" href="{{ link.href }}" >{{ link.title }}</a>
        <div style="display: none; font-size: 12px; font-family: Helvetica; " id="body_{{ id }}_{{ forloop.counter }}">
            Under construction
        </div>
    </li>
  {% endfor %}
  </ul>
  <script type="text/javascript">
    function showLinkDiv{{ id }}(divNum){
        divElement = document.getElementById("body_{{ id }}_" + divNum);
        bElement = document.getElementById("bullet_{{ id }}_" + divNum);
        if (divElement.style.display == "none"){
            divElement.style.display = "block";
            bElement.className = "glyphicon glyphicon-chevron-down";
        }
        else {
            divElement.style.display = "none";
            bElement.className = "glyphicon glyphicon-chevron-right";
        }
    }
  </script>
{% endblock %}
