{% extends "widget.html" %}

{% block widget_body %}
<table>
    <tr>
        <td>Symbol</td>
        <td colspan=2>Price Change </td>
        <td>P/E</td>
        <td>Price</td>
    </tr>
    {% for quote in quotes %}
    <tr>
        <td><a target="_blank" href="http://finance.yahoo.com/q?s={{ quote.symbol }}">{{ quote.symbol }}</a></td>
        <td colspan=2 align=right>{{ quote.change_price|safe }} {{ quote.change_percent|safe }}</td>
        <td>{{ quote.pe|safe }}</td>
        <td align=right>${{ quote.price|safe }}</td>
    {% endfor %}
</table>
{% endblock %}
