{% extends "widget.html" %}

{% block widget_body %}
    <style type="text/css">
        #id_value {width: 100%; height: 200px;}
    </style>
    <form method="POST" action="{% url launch %}">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <br>
        <input type="hidden" name="widget_id" value="{{ widget_id }}">
        <input type="hidden" name="user" value="{{ user }}">
        <input type="submit" value="Save" onclick="document.getElementById('saved').style.cssText = 'display: inline';"/>
    </form>
    <span style="display: none" id="saved">Note saved!</span>
{% endblock %}
